@tailwind base;
@tailwind components;
@tailwind utilities;

.josefin-sans {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}


/* Font color */
.text-gray {
  color: #63615a;
}

.text-pink {
  color: #d4a9b0;
}

.text-gray-dark {
  color: #020102;
}