@tailwind base;
@tailwind components;
@tailwind utilities;

.josefin-sans {
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Font color */
.text-gray {
  color: #63615a;
}